* {
font-family:courier new;
}
h1{
    color:#1b74e4;
}
#searchbtn{
    background-color:black;
    color:white;
}
/* #LogIn,#Register{
    background-color:aqua;
} */

.Userbtn{
    background-color:aqua;
}